<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coldface.dao.UserDao">
	<resultMap id="BaseResultMap" type="com.coldface.bo.UserBo">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="age" property="age" />
		<result column="type" property="type" />
		<result column="phone" property="phone" />
		<result column="address" property="address" />
	</resultMap>

	<parameterMap id="UserBo" type="com.coldface.bo.UserBo"/>

	<sql id="Base_Column_List">
		id, name, age, type, phone,address
	</sql>

	<select id="findUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where name = #{name}
	</select>
	
	<select id="findAllUser" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
	</select>
	
	<insert id="saveUser" parameterMap="UserBo" useGeneratedKeys="true" keyProperty="id">
		insert into user(name,age,type,phone,address) values(#{name}, #{age}, #{type}, #{phone}, #{address})
	</insert>
	
	<update id="updateUser" parameterMap="UserBo">
		update user set
		<if test = "name!=null">
			name = #{name},
		</if>
		<if test = "age!=null">
			age = #{age},
		</if>
		<if test = "type!=null">
			type = #{type},
		</if>
		<if test = "phone!=null">
			phone = #{phone},
		</if>
		<if test = "address!=null">
			address = #{address}
		</if>
		where id = #{id}
	</update>
	
	<delete id = "deleteUserById" parameterType="java.lang.Long">
		delete from user where id = #{id}
	</delete>
</mapper>